<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>路线详情</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/route-detail.css">
    <script src="js/vue.js"></script>
</head>

<body>
<!--引入头部-->
<div id="header"></div>
    <!-- 详情 start -->   
    <div class="wrap" id="detail">
        <div class="bread_box" style="font-size: 28px">
            <a href="/"></a>
            <span> &gt;</span>
            <a>添加新路线</a>
            <span> &gt;</span>
            <a href="#">{{route.rname}}</a>
        </div>
        <form id="addRoute">
            <div class="prosum_box" style="margin-top: 20px">
                <dl class="prosum_left">
                    <dt>
<!--                        <button id="load" @click="loadImg()" type="button">-->
                            <img alt="" class="big_img" id="big_img" :src="simages[0]" >
<!--                            <input type="file" id="load_xls" style="display:none"-->
<!--                                   accept="image/gif,image/jpeg,image/jpg,image/png" @change ="uploadFile($event)">-->
<!--                        </button>-->
                    </dt>
                    <dd id="dd">
                        <a class="up_img up_img_disable"></a>
                        <button id="loadsmall" @click="loadSImg()" type="button">
                            <a title="" class="little_img" data-bigpic="" v-for="(item,i) in simages">
                                <img :src="item">
                            </a>
                            <input type="file" id="load_files" style="display:none" multiple="multiple"
                                   accept="image/gif,image/jpeg,image/jpg,image/png" @change ="uploadFiles($event)">

                        </button>
                        <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
                    </dd>
                </dl>
                <div class="prosum_right">
                    <div class="form-group" style="margin-right: 20px">
                        <label for="routeName">路线名</label>
                        <input type="text" name="rname" v-model="rname" class="form-control" id="routeName" placeholder="请输入路线名">
                    </div>
                    <div class="form-group" style="margin-right: 20px" >
                        <label for="routeIntroduce">路线介绍</label>
                        <textarea class="form-control" v-model="routeIntroduce" id="routeIntroduce" name="routeIntroduce" placeholder="请输入路线介绍"></textarea>
                    </div>
                    <div class="form-group" style="margin-right: 20px" >
                        <label for="routeIntroduce">发布者选择</label>
                        <select class="form-control" name="sid" v-model="sid">
                            <option v-for="(item, index) in sellers" :value="item.sid">{{item.sname}}</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-right: 20px" >
                        <select class="form-control" name="cid" v-model="cid">
                            <option>请选择地区</option>
                            <option v-for="(item, index) in areas" :value="item.cid">{{item.cname}}</option>
                        </select>
                    </div>

<!--                    <div class="pros_other">-->
<!--                        <p >-->
<!--                            发布者(管理员)<span ></span>  :-->
<!--                            <span id="sname" >-->
<!--                            {{seller.sname}}-->
<!--                        </span>-->
<!--                        </p>-->
<!--                        <p >-->
<!--                            <span>联系电话 :</span>-->
<!--                            <span id="consphone">{{seller.consphone}}</span>-->
<!--                        </p>-->
<!--                        <p>地址 ：-->
<!--                            <span id="address">{{seller.address}}</span>-->
<!--                        </p>-->
<!--                    </div>-->
                    <div class="pros_price">
                        <p class="price">
                            <span style="font-size: 18px;margin-right: 5px">花费</span>
                            <strong id="price">
                                <input name="price" v-model="price" style="height: 30px;padding: 5px 10px;font-size: 16px">
                            </strong>
                            <span style="margin-left: 10px">起</span></p>
                    </div>
                </div>
            </div>
            <div class="you_need_konw">
                <span>详情</span>
                <div style="line-height: 35px;margin-top: 5px">
                    <textarea style="width: 100%;height: 120px" name="deatil" v-model="detail"></textarea>
                </div>
                <input class="btn btn-success"  @click="addRoute" style="width: 150px;margin-left: 46%" type="button" value="提交" >
            </div>
        </form>
    </div>
    <!-- 详情 end -->

    <!--引入头部-->
    <div id="footer"></div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
    <script src="js/getParameter.js"></script>
    <script>

    var detail = new Vue({
        el:"#detail",
        data:{
            sid: null, uid: null, cid: 2,
            rname: '', routeIntroduce: '', price: null, detail: '',
            route:{
                user:{},
                seller: {}
            },
            areas:[],
            sellers: [], user:{},
            simages: ["images/main.jpg"],
            sfiles: []
        },
        methods:{
            loadSImg(){
                $("#load_files").click();
            },
            uploadFiles(e){
                var that = this;
                /*创建文件读取对象*/
                /*文件存储在file表单元素的files属性中，它是一个数组*/
                var files=e.target.files;
                // console.log(files)
                if(files) {
                    for(var i =0;i<files.length;i++){
                        that.sfiles[i] = files[i];
                        var reader=new FileReader();
                        var simages = [];
                        reader.readAsDataURL(files[i]);
                        reader.onload = function (e) {
                            simages.push(e.target.result);
                        }
                    }
                    that.simages = simages;
                }
            },
            findSeller(){
                var that = this;
                if(that.sid=="1"||that.sid ==1){
                    $.post("seller/findAll",{sid:1},function (data) {
                        if(data!=null){
                            that.sellers = data;
                        }
                    });
                }else {
                    $.post("seller/findOne",{sid: that.sid},function (data) {
                        if(data!=null){
                            var sellers = [];
                            sellers[0] = data;
                            that.sellers = sellers;
                        }
                    });
                }

            },
            findUser(){
                var that = this;
                $.post("user/findOne",{uid:that.uid},function (data) {
                    if(data!=null){
                        that.user = data;
                    }
                });
            },
            addRoute(){
                var rdata = $('#addRoute').serialize();
                var formData = new FormData();
                formData.append('rname', this.rname);
                formData.append('cid', this.cid);
                formData.append('routeIntroduce', this.routeIntroduce);
                formData.append('price', this.price);
                formData.append('detail', this.detail);
                if(this.sid!=null&&this.sid!=""){
                    formData.append('sid', this.sid);
                }
                if(this.uid!=null&&this.uid!=""){
                    formData.append('uid', this.uid);
                }
                for(var i=0;i<this.sfiles.length;i++){
                    formData.append("file"+i, this.sfiles[i]);
                }
                $.ajax({
                    url:"route/add",
                    type:'POST',
                    dataType:'json',
                    data:formData,
                    cache: false,//上传文件无需缓存
                    processData: false,//用于对data参数进行序列化处理 这里必须false
                    contentType: false, //必须
                    success:function(re){
                        if(re!=null){
                            alert("添加成功")
                            location.href="ht_route_detail.html?rid="+re.rid;
                        }else{
                            alert("添加失败")
                        }
                    },
                    error:function (error){
                        alert("添加失败")
                    }
                });
            },
            getAllCategory(){
                var that = this;
                $.get("category/findAll",{},function (data) {
                    if (data!=null){
                        that.areas = data;
                    }
                });
            }
        },
        created: function () {
            var sid =  getParameter("sid");
            if(sid!=null&&sid!=""){
                this.sid = sid;
                this.findSeller();
            }
            var uid =  getParameter("uid");
            if(uid!=null&&uid!=""){
                this.uid = uid;
                this.findUser();
            }
            this.getAllCategory();
        }
    })
    </script>
</body>

</html>